@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$bg_color_light: #ecf0f3;
$text_color_light: #181818;
$bg_color_dark: #343639;
$text_color_dark: #f3f3f3;
$bg_color: $bg_color_light;
$text_color: $text_color_light;
$font_family: "Quicksand", sans-serif;

body {
  margin: 0;
  padding: 0;
  background: $bg_color;
  font-family: $font_family;
  color: $text_color;
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.form-validate-container {
  max-width: 550px;
  .form-validate-message {
    color: #6c757d;
    height: 0;
    overflow: hidden;
    transition: all ease 0.7s;
    &.active {
      height: 21px;
    }
  }
  form.is-submit {
    .form-validate-message {
      color: #dc3545;
    }
  }
}

.electricity-cost-calculator {
  width: 1000px;
  .household-appliance-item {
    background: #4285f4;
    &.active {
      background: #34a853;
    }
    img {
      width: 80px;
    }
  }
  @media (min-width: 768px) {
    table {
      td {
        height: 48px;
      }
    }
  }
}
